In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
For school in high_schools:
    print(school)

SyntaxError: invalid syntax (Temp/ipykernel_18868/2883437929.py, line 1)

In [3]:
# List of high schools
high_scholls = ["Hernandez High School", "Figueroa High School",
                 "Wilson ahaigh School","wright High School"]

In [4]:
For school in high_schools:
    print(school)

SyntaxError: invalid syntax (Temp/ipykernel_18868/2883437929.py, line 1)

In [5]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
for high schools and the type in dictionary:
    print(hig_school_types)

SyntaxError: invalid syntax (Temp/ipykernel_18868/1866480359.py, line 1)

In [8]:
for dictionary in high_school_types:
    print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]
[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]
[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]
[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [9]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [10]:
# Add the Pandas dependency.
import pandas as pd

In [11]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [12]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [13]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [14]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [15]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [16]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [17]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

school_df["school name"]= school_name

school_df["type"]= type_of_school

In [18]:
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [19]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

school_df["school name"]= school_name

school_df["type"]= type_of_school

# print the data frame.
school_df

   School ID            school_name      type            school name
0          0   Huang High    School  District      Huang High School
1          1   Figueroa High School  District   Figueroa High School
2          2    Shelton High School   Charter    Shelton High School
3          3  Hernandez High School  District  Hernandez High School
4          4    Griffin High School   Charter    Griffin High School

In [20]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

schools_df["school name"]= school_name

# print the DataFrame.
schools_df

schools_df["Type"]= type_of_school

# print the DataFrame.
schools_df

   School ID            school name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'school name'], dtype='object')

In [22]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
school_df.values

array([[0, 'Huang High    School', 'District', 'Huang High School'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School']],
      dtype=object)

In [24]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [25]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

schools_df["school name"]= school_name

# print the DataFrame.
schools_df

schools_df["Type"]= type_of_school

# print the DataFrame.
schools_df

   School ID            school name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [26]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [27]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [29]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}
                    {"School ID":5, "school_name": "Wilson High School", "type": "Charter"}
                    {"School ID":6, "school_name":"Cabrera High School", "type": "Charter"}
                    {"School ID":7, "school_name":"Bailey High school", "type":"District"}
                    {"School ID":8, "school_name":"Holden High school", "type":"District"}
                    {"School ID":9, "school_name":"Pena High School", "type":"Charter"}
                    {"School ID":10, "school_name":"Wright High School", "type":"Charter"}
                    {"School ID":11, "school_name":"Rodriguez High School", "type":"District"}
                    {"School ID":12, "school_name":"Jhonson High School", "type":"District"}
                    {"School ID":13, "scholl_name":"Ford High School", "type":"District"}
                    {"School ID":14, "school_name":"Thomas High School", "type":"Charter"}]

SyntaxError: invalid syntax (Temp/ipykernel_18868/3660666216.py, line 7)

In [39]:
# lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", 
               "Hernandez High School", "Griffin High School", "Wilson High School", 
               "Cabrera High School", "Bailey High School","Bailey High School", 
               "Holden High School","Pena High School", "Wright High School", "Rodriguez High School", 
               "Johnson High School", "Ford High School", "Thomas High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [40]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [41]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

school_df["school name"]= school_name

school_df["type"]= type_of_school

ValueError: Length of values (16) does not match length of index (5)

In [42]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

schools_df["school name"]= school_name

# print the DataFrame.
schools_df

schools_df["Type"]= type_of_school

# print the DataFrame.
schools_df

ValueError: Length of values (16) does not match length of index (15)